
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
    </div>
    <div class="card-body">
    <form method="post">
        <input type="text" class="form-control" name="CategoryName" />
        <input class="btn btn-success mt-3" type="submit" value="Create" />
    </form>
    </div>
</div>